@import "./_reset.css";

/* .card {
    display: flex;
    flex-direction: column;
} */

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-image {
  margin-bottom: 20px;
  max-width: 260px;
}

.card-text-container {
  color: #222222;
  font-weight: 300;
}

.card-ranking {
  align-items: center;
  display: flex;
}

.card-star {
  color: #fe395c;
  margin-right: 5px;
}

.card-reviews,
.card-location {
  color: #918e9b;
}

.card-description {
  font-size: 16px;
  font-weight: 300;
}
